*{
  background-color: rgb(22, 22, 22);
  font-size: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App > h1{
  color: rgb(145, 145, 146);
}

.addinput{
  border: 1px solid rgb(85, 84, 84);
  color:rgb(145, 145, 146);
  border-radius: 5%;
  font-size: 28px;
  margin:20px;
  padding:5px;
}

.addbtn{
  border: 3px solid rgb(4, 138, 4);
  font-size: 30px;
  color:rgb(5, 173, 5);
}
.addbtn:hover{
  cursor: pointer;
  background-color: rgb(37, 36, 36);
}

ul {
  margin-left: 200px;
  list-style-type: none;
 /* text-align: start;*/
  color:rgb(158, 157, 157);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
